.float-button{
    position: fixed;
    right: 8%;
    bottom: 15%;
    animation: moveBtn 4s infinite linear;
    cursor: pointer;
    z-index: 2;

    &  img {
        width: 62px;
        height: 62px;
        filter: drop-shadow(0 5px 13px var(--bg-gray));
    }
}

@keyframes moveBtn {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}