.change-password {
    &__title {
        margin-bottom: 24px;
    }

    .form-input-block {
        border: 1px solid #F7F1FE;
        height: 44px;
    }

    .error-text{
        color: red;
    }
}


@media screen and (max-width: 768px) {
    .change-password {
        &.content__page {
            min-height: 350px;
        }
    }
}
