.recovery-password{
    background: var(--bg-gray);
    padding: 110px 0;

    &__body{
        width: var(--form-content-width);
        margin: 0 auto;
    }

    &__title{
        font-size: var(--fs-2);
        margin-bottom: 16px;
    }

    &__subtitle{
        display: inline-block;
        font-size: var(--fs-5);
        font-weight: 400;
        color: var(--gray-color);
        margin-bottom: 24px;
    }
}